*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: #080808;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 15%;
    background:rgba(0, 0, 0, 0.3) ;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    background: linear-gradient(270deg, #800080 10%,  #FF00FF 100%);
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 15px;
    color: white;
    font-weight: 500;
    margin-left: 60px;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-transform: uppercase;
}

.narbar a:hover{
    color: white;
    border-bottom: 3px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index : 10001;
    display: none;
}

section{
    padding: 0 19%;
    /* min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.home{
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

/* .home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
} */

 .home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
}

.home-content h3{
    font-family: 'Permanent Marker', cursive;
    margin: 0 0 45px;
    font-size: 4rem;
    line-height: 1;
    color: white;
}

.home-content p{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 40px;
} 

.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 22vw;
    filter: drop-shadow(1px 1px 60px rgb(130, 27, 189));
    transition: 0.4s ease-in-out;
}

.home-img:hover img { 
    transform: scale(1.1);
}

.btn-group{
    display: flex;
    gap: 20px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(270deg, #800080 10%,  #FF00FF 100%);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}